@font-face {
  font-family: "Fira Sans Medium";
  src: url('/convertor/src/assets/font/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf');
}
@font-face {
    font-family: "Fira Sans ExtraBold";
    src: url('/convertor/src/assets/font/Fira_Sans_Condensed/FiraSansCondensed-ExtraBold.ttf');
  }
  @font-face {
    font-family: "Fira Sans ";
    src: url('/convertor/src/assets/font/Fira_Sans_Condensed/FiraSansCondensed-ExtraBold.ttf');
  }
