.sliderRight {
    background-image: url("/src/assets/background.png");
    width: 1449px;
    height: 716px;
  }
  
  .info {
      display: flex;
  }
  
  .sliderH5 {
    display: flex;
  }
  
  .sliderH1 {
    display: flex;
  }