.slider {
  background-image: url("/src/assets/background.jpeg") ;
  background-position: center;
background-size: cover;
  display: flex;
  justify-content: space-between;
  width: 1449px;
  height: 716px;
}

.sliderRight {
  display: flex;
  max-width: 439px;

  align-items: start;
  flex-direction: column;

  margin: 200px 120px;
}
